body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.logo {
  width: 5%;
  position: absolute;
  top: 6px;
  z-index: 9;
}
.navbar {
  background-color: rgb(46 79 91 / 73%);
  padding: 16px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  text-decoration: underline;
  color: #fff;
}
.nav-item {
  padding-right: 37px;
}
.carousel-item {
  height: 100vh;
}
.social-media-icon {
  margin-right: 8%;
}
.outline {
  text-shadow: 0 13.36px 8.896px #2c482e, 0 -2px 1px #aeffb4;
  color: #fff;
  font-size: 70px;
}
.outline-div {
  position: absolute;
  top: 450px;
  z-index: 1;
  bottom: 0px;
  left: 0;
  text-align: center;
  right: 0;
}
.outline-sub {
  color: #fff;
  font-size: 25px;
}
.btn-book-your-room {
  background-color: #eb8e46;
  color: #fff;
  border: 1px solid #eb8e46;
}
.btn-book-your-room:focus {
  box-shadow: none;
}
.btn-book-your-room:hover {
  background-color: #fff;
  color: #eb8e46;
  border: 1px solid #eb8e46;
}
.sm-p {
  color: #eb8e46;
}
.how-to-find-div {
  margin: 0px 0px -45px 0px;
  padding: 40px 40px 40px 40px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #f3f3f3;
}
.icon-LEP {
  font-size: 70px;
  color: #eb8e46;
}
.footer {
  background-color: rgb(46 79 91 / 73%);
}
.about-footer {
  color: #c8c0b8;
}
